@font-face{
  font-family: libre;
  src: url('./SourceSansPro-Regular.ttf');
}
@font-face{
  font-family: librebold;
  src: url('./SourceSansPro-Bold.ttf');
}
#body{
  width: 100%;
  background-color: black;
}
#loader{
  transform: scale(2);
  margin-top: 6rem;
}
#heading{
  font-family: librebold;
  color: white;
  align-items: center;
  background-color: #000000;
}
h1{
  font-size: 5rem;
}
h3{
  font-family: libre;
  font-size: 3rem;
  margin: 2rem;
  color: #ffffff;
}
.footer{
  font-family: libre;
  background-color: #000000;
  margin:0px auto;
  padding: 2rem 0px;
  color: white;
}
a{
  font-family: libre;
  padding: 2rem 3rem;
  transform: scale(2);
}
a:hover{
  text-decoration: none;
  color: green;
}
#card{
  margin: 2rem;
  width: 250px;
  height: 300px;
  border: 1px groove grey;
  border-radius: 15px;
  box-shadow: 0px 0px 4px 4px green;
  transition: all ease-in-out 0.7s;
}
#card:hover{
  transform: scale(1.1);
}
#card a{
  padding: 0;
}
#songtitle{
  font-family: librebold;
  font-size: 1rem;
  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
}
#cardbody{
  background-color: black;
  border-radius: 0px 0px 15px 15px;
}
#listen{
  font-size: 1.2rem;
  color: #ffffff;
}
#artist{
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
}
#artist a{
  color: #ffffff;
}
#artist a:hover{
  color: green;
}
@media screen and (max-width: 500px){
  h1{
    font-size: 2rem;
  }
  h3{
    font-size: 2rem;
  }
  #card{
    margin-top: 1rem ;
    width: 200px;
    height: 240px;
  }
  #listen{
    font-size: 0.5rem;
    color: #ffffff;
  }
  #songtitle{
    font-size: 0.7rem;
  }
  #artist{
    font-size: 0.7rem;
  }
}